[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/dotnet Zetatech.DeepSight.Triggers.dll
Group=zeta
Restart=always
RestartSec=10
SyslogIdentifier=Zetatech.DeepSight.Triggers
Type=simple
User=zeta
WorkingDirectory=/usr/share/deepsight/triggers

Environment=DOTNET_CLI_TELEMETRY_OPTOUT=1
Environment=DOTNET_ENVIRONMENT=Development
Environment=DOTNET_NOLOGO=1
Environment=DOTNET_ROOT=/usr/share/dotnet

[Unit]
After=network.target postgresql.service rabbitmq-server.service
Description=Service application for ingestion messages processing
